* {
    margin: 0;
    padding: 0;
}
/* header related styles */
/* nav related styles */

.nav-container {
    height: 20vh;
    display: flex;
    justify-content: space-around;
   padding-bottom: 30px;
   
}
.nav-title {
    width: 50%;
    padding: 60px;
    padding-left: 200px;
}
.nav-description {
    width: 50%;
    padding-top: 60px;
   
}
.nav-description p {
    margin-top: 10px;
    width: 60%;
}
@media screen and (max-width: 576px) {
    .nav-container {
        flex-direction: column;
        padding: 0;
        padding: 80px 0 30px 10px ;
        width: 100vh;
    }
    .nav-title {
        padding: 0 0 20px 0;
        width: 100%;
        font-size: 30px;
    }
    .nav-description {
        padding: 0;
    }
    .nav-description p {
        width: 100%;
    }
    
}